baseURL = "https://grayzein.site/"
title = "Blogray"
languageCode = "id"
theme = "PaperMod"

enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false

[minify]
  disableXML = true
  minifyOutput = true

[params]
  env = "production"
  title = "Blogray"
  description = "Personal blog by Gray"
  author = "Gray Zein Syah Putra"
  
  defaultTheme = "light"
  disableThemeToggle = false
  
  ShowReadingTime = true
  ShowShareButtons = false
  ShowPostNavLinks = true
  ShowBreadCrumbs = false
  ShowCodeCopyButtons = true
  ShowWordCount = false
  ShowRssButtonInSectionTermList = false
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = false
  tocopen = false

  # [params.homeInfoParams]
    # Title = "Blogray"
    # Content = "Personal blog by Gray Zein Syah Putra"

  [params.profileMode]
    enabled = false

  # [[params.socialIcons]]
    # name = "email"
    # url = "mailto:gryzein@gmail.com"

[params.cover]
  hidden = false
  hiddenInList = false
  hiddenInSingle = false

[params.label]
  text = "Blogray"

[params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1000
  threshold = 0.4
  minMatchCharLength = 0
  keys = ["title", "permalink", "summary", "content"]

[menu]
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 20

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
